/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root {
    height: auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    background-color: #333;
    color: #fff;
    text-align: center;
}



section {
    display: flex;
    margin: 0;
    height: 88vh;
    overflow: hidden;
}


main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    overflow: hidden;
}




#login,
#register {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 2.4rem;
}

.fa-btn{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 2.4rem;

}

.fa-btn:hover{
    background-color: #388E3C;
}
button:hover {
    background-color: #388E3C;
}

.header-icon {
    display: none; /* hide the hamburger icon */
    color: #4CAF50;
}
.header-icon:hover {
    color: #388E3C;
}

.chat-container {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    justify-content: center;
}


.messagebox {

    width: 100%;
}

.messagewrap, .user-searchbox {
    display: flex;
    border: black solid 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.user-searchbox{
    height: auto;
    border: none;
}

textarea{
    border: none;
    resize: none;
}

#messageInput {
    flex: 1;
}

#sendMessageButton {
}

#username-search {
    flex: 1;
}

@media only screen and (max-width: 600px)  {
    .header-icon {
        display: block; /* Show the hamburger icon */
    }
    .header{
        justify-content: space-evenly;

    }
    .show-aside{
        flex: 1;
    }

}

.show-aside{
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;

}

.hide-aside{
    display: none
}

.hide-main {
    display: none;
}
.thread-controls-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.profile-aside{
    display: flex;
    justify-content: flex-end;
}

/* CSS */
textarea:focus {
    outline: none; /* Removes the border when the textarea is focused */
}

#userSearchButtons {
    background-color:#333333 ;

}
#threads-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#allMessages{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#SentByMeTrue {
    align-self: flex-end;
}