#profile-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
#profile-box {
    padding-top: 50px;
    width: 500px;;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 150px;
    text-align: center;
    margin:auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}
