

#profile-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
#profile-box {
    border: 2px solid #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    margin-top: 5px;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 8px;
    max-width: 500px;

}
#profile-header{
    justify-content: space-evenly;
}

.user-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.change-container textarea{
    max-width: 200px;
    border:black 2px solid;
}
.change-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.change-container h2{
    display: inline;
    max-width: 320px;
    word-wrap: break-word;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
}

#bio-text-area{
    max-width: 193px;
}

#vittu{
    margin-bottom: 20px;
}

.user-info{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;

    align-items: center;
}

#flex-row{
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
}

.change-button{
    justify-content: center;
    align-items: center;

}